anyio
beautifulsoup4
certifi
charset-normalizer
click
dnspython
email-validator
fastapi
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
orjson
pydantic
python-dotenv
python-multipart
PyYAML
requests
rfc3986
scikit-learn
scipy
sniffio
soupsieve
starlette
threadpoolctl
typing_extensions
ujson
urllib3
uvicorn
gunicorn
uvloop
websockets
WooCommerce
